body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* Global */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.side {
    background: #E5FFF7;
    margin-top: 70px;
    margin-left: 60px;
}

.border {
    border: 1px solid blue;
}

.display-none {
    display: none;
}

.display {
    display: block;
}

.close {
    position: absolute;
    top: 450px;
    left: 700px;
    width: 10%;
    height: 5%;
    text-transform: uppercase;
}

/* Header */

header {
    background: #26547C;
    border-bottom: 3px solid #ffffff;
    color: #ffffff;
    font-size: 20px;
    min-height: 70px;
    padding-top: 20px;
    text-align: center;
    position: fixed; 
    top: 0;
    width: 100%;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

header a:hover {
    font-weight: bold;
    color: #f7f7f7;
}

header li {
    display: inline;
    padding: 0 15px 0 15px;
}

header li.li-border {
    border-right: 1px #ffffff solid;
}

header nav {
    margin-top: 10px;
}

/* Showcase */

#showcase {
    min-height: 500px;
    /* background: url("../img/owen-beard-DK8jXx1B-1c-unsplash.jpg") no-repeat -650px -1400px; */
    text-align: center;
    margin-top: 80px; 
}

#showcase h1 {
    margin-top: 210px;
    font-size: 60px;
    color: #ffffff;
}

/* Main-about */

#main article#about {
    float: left;
    width: 65%;
    margin-top: 70px;
    padding: 30px;
    padding-bottom: 165px;
    color: #7196A8;
}

#main h1 {
    font-size: 55px;
    color: #7196A8;
    padding-left: 20px;
}

/* Sidebar */

#main aside#sidebar {
    float: right;
    width: 30%;
    text-align: center;
}

#main img {
    height: 300px;
    border-radius: 50%;
    margin-top: 20px;
}

#main p {
    text-align: start;
    padding: 0 0 20px 20px;
}

/* Learning section */
#main-learning {
    margin-bottom: 400px;
}

/* Learning Page heading  */

#page-heading {
    margin-top: 140px;
    text-align: center;
    text-transform: uppercase;
}

#page-heading h1 {
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

/* Learning Article */

#main-learning article#learning {
    float: right;
    width: 65%;
    margin-top: 50px;
    line-height: 2;
}

/* Learning Sidebar */

#main-learning aside#sidebar {
    float: left;
    width: 30%;
    margin-top: 5px;
}

#main-learning aside#sidebar li {
    padding: 10px 0 10px 0;
}

    /* MRPBA section */

/* Mrpba heading */

#mrpba-heading {
    margin-top: 140px;
    text-align: center;
    text-transform: uppercase;
}

#mrpba-heading h1 {
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

/* Domain section */

#domains {
    margin: 100px 0 400px 0;
    text-align: center;
}

/* Domain Divs */

#div-1, #div-2, #div-3 {
    position: absolute;
    top: 250px;
    left: 191px;
    width: 80%;
    height: 50%;
    z-index: 10;
    border: 1px solid red;
    background: orange;
}

#div-1 h1 {
    text-align: center;
    text-transform: uppercase;
}

#div-1 p {
    width: 80%;
    margin-left: 80px;
    margin-top: 50px;
}



    /* Graduate capabilities */

/* Graduate heading */

#graduate-heading {
    margin-top: 140px;
    text-align: center;
    text-transform: uppercase;
}

#graduate-heading h1 {
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

/* Capabilitity section */

#capability-1 {
    margin-bottom: 100px;
}

#capability-1 h2 {
    float: left;
    width: 25%;
    margin-top: 50px;
    padding-left: 40px;
}

#capability-1 article#inventiveness {
    float: right;
    width: 70%;
    margin-top: 50px;
    padding: 20px 0px 300px 10px;
}

/* Capability-2 section */

#capability-2 h2 {
    width: 25%;
    margin-top: 100px;
    padding-right: 40px;
}

#capability-2 article#influence {
    float: left; 
    width: 70%;
    margin-top: 100px;
    padding: 20px 10px 300px 10px;
}

#capability-2 #side {
    float: right;
}

/* HR */

hr {
    width: 80%;
    height: 2px;
    background-color: blue;
}

/* Footer */

footer {
    background: #26547C;
    margin-top: 50px;
    padding: 15px;
    color: #ffffff;
    text-align: center;
}

/* Media Queries */

@media(max-width: 1498px) {
    #main article#about {
        width: 50%;
        padding-left: 0;
    }

    #main aside#sidebar {
        width: 30%;
        padding-right: 120px;
    }

    #main img {
        height: 200px;
    }

    .side {
        width: 100%;
    }

    /* Graduate section */

    #capability-1 h2 {
        width: 20%;
    }

    #capability-1 article#inventiveness {
        width: 60%;
    }
}

@media(max-width: 1495px) {
    #main {
        margin-bottom: -100px;
    }
}

@media(max-width: 1494px) {
    #main-learning aside#sidebar .side {
        width: 80%
    }
}

@media(max-width: 981px) {

    #main {
        margin-bottom: 0px;
    }

    header {
        padding-bottom: 20px;
    }

    header nav ul li, header li.li-border  {
        display: block;
        border-right: none
    }
    
    #main article#about, #main aside#sidebar {
        float: none;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    #main article#about  {
        padding-bottom: 50px;
    }

    #main aside#sidebar .side {
        position: relative;
        right: 40px;
    }

    /* Learning.html */

    #main-learning {
        margin-bottom: 0px;
    }

    #page-heading h1 {
        margin-top: 50px;
    }

    #main-learning article#learning, #main-learning aside#sidebar {
        float: none;
    }

    #main-learning aside#sidebar {
        margin: 70px auto 70px;
        width: 90%;
    }

    #main-learning aside#sidebar ol {
        margin: auto;
        width: 25%;
    }

    #main-learning aside#sidebar .side {
        margin: 0px auto;
        margin-top: -10px;;
        width: 90%;
    }

    #main-learning article#learning {
        margin: 0px auto;
        width: 90%;
    }

    /* MRPBA domains */

    #mrpba-heading {
        margin-top: 170px;
    }

    /* Graduate capability */

    #graduate-heading h1{
        margin-top: 50px;
    }

    #capability-2 article#influence {
        width: 60%;
    }
}

@media(max-width: 759px) {
    /* Learning */

    #main-learning aside#sidebar ol {
        width: 35%;
    }

    /* Graduate Capability */

    #capability-1 {
        margin-bottom: 60px
    }

    #capability-1 h2, #capability-1 article#inventiveness,  #capability-2 #side, #capability-2 article#influence{
        float: none;
        margin: 0px auto;
    }

    #capability-1 h2 {
        margin-top: 20px;
        margin-bottom: 30px;
        padding-left: 0px;
        padding-right: 65px;
    }

    #capability-1 article#inventiveness {
        width: 95%;
        padding-left: 5px;
    }

    #capability-2 h2 {
        margin: 0px auto;
        padding-left: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
 
    #capability-2 article#influence {
        width: 95%;
        padding-left: 5px;
    }
}