body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* Global */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.side {
    background: #E5FFF7;
    margin-top: 70px;
    margin-left: 60px;
}

/* Header */

header {
    background: #26547C;
    border-bottom: 3px solid #ffffff;
    color: #ffffff;
    font-size: 20px;
    min-height: 70px;
    padding-top: 20px;
    text-align: center;
    position: fixed; 
    top: 0;
    width: 100%;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

header a:hover {
    font-weight: bold;
    color: #f7f7f7;
}

header li {
    display: inline;
    padding: 0 15px 0 15px;
}

header li.li-border {
    border-right: 1px #ffffff solid;
}

header nav {
    margin-top: 10px;
}

/* Showcase */

#showcase {
    min-height: 500px;
    /* background: url("../img/owen-beard-DK8jXx1B-1c-unsplash.jpg") no-repeat -650px -1400px; */
    text-align: center;
    margin-top: 80px; 
}

#showcase h1 {
    margin-top: 210px;
    font-size: 60px;
    color: #ffffff;
}

/* Main-about */

#main article#about {
    float: left;
    width: 65%;
    margin-top: 70px;
    padding: 30px;
    padding-bottom: 165px;
    color: #7196A8;
}

#main h1 {
    font-size: 55px;
    color: #7196A8;
    padding-left: 20px;
}

/* Sidebar */

#main aside#sidebar {
    float: right;
    width: 30%;
    text-align: center;
}

#main img {
    height: 300px;
    border-radius: 50%;
    margin-top: 20px;
}

#main p {
    text-align: start;
    padding: 0 0 20px 20px;
}

/* Learning section */
#main-learning {
    margin-bottom: 400px;
}

/* Learning Page heading  */

#page-heading {
    margin-top: 140px;
    text-align: center;
    text-transform: uppercase;
}

#page-heading h1 {
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

/* Learning Article */

#main-learning article#learning {
    float: right;
    width: 65%;
    margin-top: 50px;
    line-height: 2;
}

/* Learning Sidebar */

#main-learning aside#sidebar {
    float: left;
    width: 30%;
    margin-top: 5px;
}

#main-learning aside#sidebar li {
    padding: 10px 0 10px 0;
}

/* Footer */

footer {
    background: #26547C;
    margin-top: 50px;
    padding: 15px;
    color: #ffffff;
    text-align: center;
}